* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.container {
    margin: auto;
    margin-top: 20px;
    border: solid 1px;
    max-width: 500px;
    font-family:Arial, Helvetica, sans-serif ;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_header{
    text-align: left;
    margin-bottom: 10px;
}

.name-container {
    display: flex;
    gap: 10px; /* Space between inputs */
    margin-bottom: auto 0; /* Space below the name container */
}

.name-container input {
    flex: 1; /* Makes all inputs take equal space */
    min-width: 0; /* Prevents overflow */
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 5px;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Add padding to the right for the icon */
    margin-bottom: 10px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

.toggle-password:hover {
    color: #333;
}



button {
    width: 50%; /* Set a specific width */
    padding: 10px;
    background-color: #ff7300;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px auto; /* Center the button */
    display: block; /* Ensure it behaves like a block element for centering */
}

button:hover {
    background-color: #d66d18;
}